<html>
    <head>
        <link href="./css/main.css" rel="stylesheet" />
        <meta charset="UTF-8">
        <script src="../js/angular.min.js"></script>
    </head>
    <body ng-app="translationMatcher">
        <div class="container" ng-controller="MatchController" ng-init="display()">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Browse')" id="defaultOpen">Browse</button>
                <button class="tablinks" onclick="openTab(event, 'addEdit')">Add/Edit</button>
            </div>

            <div id="Browse" class="tabcontent">
                <div ng-repeat="c in citations.data track by $index">
                            <div>{{ c.OEtext }}</div>
                            <div>{{ c.oeuvre }}</div>
                            <div>{{ c.edition }}</div>
                            <div>{{ c.ref }}</div>
                            <div ng-repeat="v in c.verbs track by $index">
                                <div>{{ v.verb }}</div>
                                <div>{{ v.tense }}</div>
                                <div>{{ v.OEexpression }}</div>
                                <div>{{ v.commentaire }}</div>
                                <div>{{ v.transtype }}</div>
                                <div>{{ v.discourse }}</div>
                            </div>
                            <hr>
                    <!-- <table style="border: 0"> -->
                    <!--     <thead> -->
                    <!--         <th>OEtext</th> -->
                    <!--         <th>Oeuvre</th> -->
                    <!--         <th>Edition</th> -->
                    <!--         <th>Référence</th> -->
                    <!--     </thead> -->
                    <!--     <tr ng-repeat="c in citations.data track by $index"> -->
                    <!--         <td>{{ c.OEtext }}</td> -->
                    <!--         <td>{{ c.oeuvre }}</td> -->
                    <!--         <td>{{ c.edition }}</td> -->
                    <!--         <td>{{ c.ref }}</td> -->
                    <!--     </tr> -->
                    <!-- </table> -->
                    <!-- <table> -->
                    <!--     <thead> -->
                    <!--         <th>Verb</th> -->
                    <!--         <th>Tense</th> -->
                    <!--         <th>OEexpression</th> -->
                    <!--         <th>Commentaire</th> -->
                    <!--         <th>Type Trad.</th> -->
                    <!--         <th>Type discours</th> -->
                    <!--     </thead> -->
                    <!--     <tr ng-repeat="v in verbs.data.where(c.$loki===v.extSource)"> -->
                    <!--         <td>{{ v.verb }}</td> -->
                    <!--         <td>{{ v.tense }}</td> -->
                    <!--         <td>{{ v.OEexpression }}</td> -->
                    <!--         <td>{{ v.commentaire }}</td> -->
                    <!--         <td>{{ v.transtype }}</td> -->
                    <!--         <td>{{ v.discourse }}</td> -->
                    <!--     </tr> -->
                    <!-- </table> -->
                </div>
            </div>

            <div id="addEdit" class="tabcontent">
                <div id="header">LokiJS Demo App </div>
                <div style="clear: both"></div>
                <div id="main">
                    <h4>Insert data</h4>
                    <span>OEtext: </span><input type="text" ng-model="newCitation.OEtext" />
                    <span>Oeuvre: </span><input type="text" ng-model="newCitation.oeuvre" />
                    <span>Edition: </span><input type="text" ng-model="newCitation.edition" /> 
                    <span>Référence: </span><input type="text" ng-model="newCitation.ref" /> 
                    <span>Version Of: </span><input type="number" ng-model="newCitation.versionOf" /> 
                    <br />
                    <span>Verb: </span><input type="text" ng-model="newVerb.verb" />
                    <span>Catégorie(tense equivalence): </span><input type="text" ng-model="newVerb.tense" />
                    <span>Expression du futur en OE: </span><input type="text" ng-model="newVerb.OEexpression" />
                    <span>Commentaire: </span><input type="text" ng-model="newVerb.commentaire" />
                    <span>Type de traduction: </span><input type="text" ng-model="newVerb.transtype" />
                    <span>Type de discours: </span><input type="text" ng-model="newVerb.discourse" />
                    <br />
                    <button ng-click="insert()" style="vertical-align: middle">Insert</button>
                    <div id="displayDB">
                        <table style="border: 0">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>OEtext</th>
                                <th>Oeuvre</th>
                                <th>Edition</th>
                                <th>Référence</th>
                                <th>Version of</th>
                            </thead>
                            <tr ng-repeat="c in citations.data track by $index">
                                <td><button ng-click="delete(c)">delete</button></td>
                                <td>{{ c.$loki }}</td>
                                <td>{{ c.OEtext }}</td>
                                <td>{{ c.oeuvre }}</td>
                                <td>{{ c.edition }}</td>
                                <td>{{ c.ref }}</td>
                                <td>{{ c.versionOf }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
