<html>
    <head>
        <link href="./css/main.css" rel="stylesheet" />
        <meta charset="UTF-8">
        <!-- TODO check link below and get rid of it if possible -->
        <script src="../js/angular.min.js"></script>
    </head>
    <body ng-app="lokidemo">
        <div class="container" ng-controller="DemoController">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Browse')" id="defaultOpen">Browse</button>
                <button class="tablinks" onclick="openTab(event, 'addEdit')">Add/Edit</button>
            </div>

            <div id="Browse" class="tabcontent">
                    <div id="results">
                        <table style="border: 0">
                            <thead>
                                <th>OEtext</th>
                                <th>Oeuvre</th>
                                <th>Edition</th>
                                <th>Référence</th>
                            </thead>
                            <tr ng-repeat="c in citations.data track by $index">
                                <td>{{ c.OEtext }}</td>
                                <td>{{ c.oeuvre }}</td>
                                <td>{{ c.edition }}</td>
                                <td>{{ c.ref }}</td>
                            </tr>
                        </table>
                    </div>
            </div>

            <div id="addEdit" class="tabcontent">
                <div id="header">LokiJS Demo App </div>
                <div style="clear: both"></div>
                <div id="main">
                    <h4>Insert data</h4>
                    <span>OEtext: </span><input type="text" ng-model="newCitation.OEtext" />
                    <span>Oeuvre: </span><input type="text" ng-model="newCitation.oeuvre" />
                    <span>Edition: </span><input type="text" ng-model="newCitation.edition" /> 
                    <span>Référence: </span><input type="text" ng-model="newCitation.ref" /> 
                    <span>Version Of: </span><input type="number" ng-model="newCitation.ref" /> 
                    <button ng-click="insert()" style="vertical-align: middle">Insert</button>
                    <div id="displayDB">
                        <table style="border: 0">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>OEtext</th>
                                <th>Oeuvre</th>
                                <th>Edition</th>
                                <th>Référence</th>
                                <th>Version of</th>
                            </thead>
                            <tr ng-repeat="c in citations.data track by $index">
                                <td><button ng-click="delete(c)">delete</button></td>
                                <td>{{ c.$loki }}</td>
                                <td>{{ c.OEtext }}</td>
                                <td>{{ c.oeuvre }}</td>
                                <td>{{ c.edition }}</td>
                                <td>{{ c.ref }}</td>
                                <td>{{ c.versionOf }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
