<html>
    <head>
        <link href="./css/main.css" rel="stylesheet" />
        <meta charset="UTF-8">
        <script src="../js/angular.min.js"></script>
    </head>
    <body ng-app="translationMatcher">
        <div class="container" ng-controller="MatchController" ng-init="display()">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Browse')" id="defaultOpen">Browse</button>
                <button class="tablinks" onclick="openTab(event, 'addEdit')">Add/Edit</button>
            </div>

            <div id="Browse" class="tabcontent">
                <div ng-repeat="c in citations.data track by $index">
                    <!-- <div parse-text="{{ c }}"></div> -->
                    <div ng-bind-html="highlightVerb(c.verbs, c.OEtext)"></div>
                    <!-- <div ng-bind-html>{{ highlightVerb(c.verbs, c.OEtext) }}</div> -->
                    <div>{{ c.oeuvre }}</div>
                    <div>{{ c.edition }}</div>
                    <div>{{ c.ref }}</div>
                    <div ng-repeat="v in c.verbs track by $index">
                        <div>{{ v.verb }}</div>
                        <div>{{ v.tense }}</div>
                        <div>{{ v.OEexpression }}</div>
                        <div>{{ v.commentaire }}</div>
                        <div>{{ v.transtype }}</div>
                        <div>{{ v.discourse }}</div>
                    </div>
                    <hr>
                </div>
            </div>

            <div id="addEdit" class="tabcontent">
                <div id="header">LokiJS Demo App </div>
                <div style="clear: both"></div>
                <div id="main">
                    <h4>Insert data</h4>
                    <span>OEtext: </span><input type="text" ng-model="newCitation.OEtext" />
                    <span>Oeuvre: </span><input type="text" ng-model="newCitation.oeuvre" />
                    <span>Edition: </span><input type="text" ng-model="newCitation.edition" /> 
                    <span>Référence: </span><input type="text" ng-model="newCitation.ref" /> 
                    <span>Version Of: </span><input type="number" ng-model="newCitation.versionOf" /> 
                    <br />
                    <div ng-repeat="verb in verbElements">
                        <div id={{ verb.id }} >
                            <span>Verb: </span><input type="text" ng-model="verb.verb" />
                            <span>Catégorie(tense equivalence): </span><input type="text" ng-model="verb.tense" />
                            <span>Expression du futur en OE: </span><input type="text" ng-model="verb.OEexpression" />
                            <span>Commentaire: </span><input type="text" ng-model="verb.commentaire" />
                            <span>Type de traduction: </span><input type="text" ng-model="verb.transtype" />
                            <span>Type de discours: </span><input type="text" ng-model="verb.discourse" />
                            <span><a href ng-click="newVerbItem()">+</a></span>
                            <span ng-hide="verbElements.length == 1">
                                <a href ng-click="verbElements.splice($index, 1)">remove</a>
                            </span>
                        </div>
                    </div>
                    <div ng-repeat="extract in latinExtracts">
                        <div id={{ extract.id }} >
                            <span>latText : </span><input type="text" ng-model="extract.latinText" />
                            <span>Oeuvre : </span><input type="text" ng-model="extract.oeuvre" />
                            <span>Edition : </span><input type="text" ng-model="extract.edition" />
                            <span>Référence : </span><input type="text" ng-model="extract.ref" />
                            <span><a href ng-click="newLatinItem()">+</a></span>
                            <span ng-hide="latinExtracts.length == 1">
                                <a href ng-click="latinExtracts.splice($index, 1)">remove</a>
                            </span>
                        </div>
                    </div>
                    <br />
                    <button ng-click="insert(); verbCounter=0; verbElements = [{id:counter}];" style="vertical-align: middle">Insert</button>
                    <div id="displayDB">
                        <table style="border: 0">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>OEtext</th>
                                <th>Oeuvre</th>
                                <th>Edition</th>
                                <th>Référence</th>
                                <th>Version of</th>
                            </thead>
                            <tr ng-repeat="c in citations.data track by $index">
                                <td><button ng-hide="c.editing" ng-click="editItem(c)">edit</button><button ng-show="c.editing" ng-click="doneEditing(c, true)">save</button><button ng-show="c.editing" ng-click="doneEditing(c, false)">cancel</button><button ng-show="c.editing" ng-click="delete(c)">delete</button></td>
                                <td>{{ c.$loki }} </td>
                                <td>
                                    <span ng-hide="c.editing" ng-dblclick="editItem(c)">{{ c.OEtext }}</span>
                                    <input ng-show="c.editing" ng-model="c.OEtext" />
                                </td>
                                <td>
                                    <span ng-hide="c.editing" ng-dblclick="editItem(c)">{{ c.oeuvre }}</span>
                                    <input ng-show="c.editing" ng-model="c.oeuvre" />
                                </td>
                                <td>
                                    <span ng-hide="c.editing" ng-dblclick="editItem(c)">{{ c.edition }}</span>
                                    <input ng-show="c.editing" ng-model="c.edition" />
                                </td>
                                <td>
                                    <span ng-hide="c.editing" ng-dblclick="editItem(c)">{{ c.ref }}</span>
                                    <input ng-show="c.editing" ng-model="c.ref" />
                                </td>
                                <td>
                                    <span ng-hide="c.editing" ng-dblclick="editItem(c)">{{ c.versionOf }}</span>
                                    <input ng-show="c.editing" ng-model="c.versionOf" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
